# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.DS_Store
xcuserdata
xcshareddata
._*
.metadata
gen
gdb.setup
gdbserver
ios/output
*.db
Carthage
SubMoudle
#CocoaPods
Pods
demo
